---
import Angular from "./icons/Angular.astro"
import HTMLIcon from "./icons/HTML.astro"
import CSSIcon from "./icons/CSS.astro"

const TAGS = {
    ANGULAR: {
        name: "Angular",
        class: "bg-slate-700 text-white",
        icon: Angular,
    },
    HTML: {
        name: "HTML",
        class: "bg-slate-700 text-white",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-slate-700 text-white",
        icon: CSSIcon,
    },
};

const PROJECTS = [
    {
        title: 'Notepad',
        description: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum sequi temporibus necessitatibus excepturi quod nostrum. Pariatur provident nesciunt itaque assumenda veritatis incidunt excepturi voluptatum sapiente quaerat temporibus commodi, iure ducimus.',
        link: '#',
        github: '#',
        image: '/pictures/notes.png',
        tags: [TAGS.ANGULAR, TAGS.HTML, TAGS.CSS],
    },
];
---

{
    PROJECTS.map(({image, title, description, tags}) =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row">
                {tags.map(tag =>(
                    <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 my-2`}>
                    <tag.icon class="size-4"/>
                    {tag.name}
                    </span>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={title}>
        </article>
    ))
}